<h1 class='ui header ui center aligned segment'><%= @board.name %></h1>

<div class='layout'>

</div>

<div class="ui center aligned segment">
  <%= link_to "View Lists", board_lists_path(@board)%>
  <%= link_to "Edit Boards", edit_board_path(@board)%>
  <%= link_to 'Back to Boards', boards_path, class:'ui button large'%>
</div>